// USER VARIABLES SECTION

$violetcolor: #6B2FE2; // Violet Color
$whitecolor: #FEFEFE; // White Color
$darkgreycolor: #FEFEFE; // Dark Grey Color
$greycolor: #BFBFBF; // Grey Color
$lightgreycolor: #D9D9D9; // Light Grey Color
$greengradient: linear-gradient(90deg, rgba(128,231,101,1) 0%, rgba(241,245,9,1) 50%);
$violetgradient: linear-gradient(90deg, rgba(28,0,100,1) 0%, rgba(44,0,134,1) 50%);
$fontsize: 16px; // Body Font Size
$textcolor: #000; // Text Color
$lineheight: 1.5; // Document Line Height
$userfont: 'russo-one', sans-serif; // User Font Family
$systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family

// IMPORT SECTION

// @import 'node_modules/bootstrap/scss/bootstrap-reboot.scss' // Bootstrap Reboot collection
// @import 'node_modules/bootstrap/scss/mixins/_breakpoints.scss' // Bootstrap Breakpoints mixin
// @import 'node_modules/bootstrap/scss/bootstrap-grid.scss' // Optional Bootstrap Grid
// @import 'node_modules/bootstrap/scss/_utilities.scss' // Optional Bootstrap Utilites

// FONTS LOAD SECTION

@mixin font($fname, $fstyle, $fweight, $furl) {
  @font-face {
    font-family: $fname;
    font-style: $fstyle;
    font-weight: $fweight;
    src: url($furl) format('woff2');
  }
}

@include font('russo-one', normal, 400, '../fonts/russo-one.woff2');
@include font('opensans-semibold', italic, 400, '../fonts/OpenSans-SemiBold.woff2');
// @include font('roboto-oh5', normal, 700, '../fonts/roboto-bold-webfont.woff2');
// @include font('roboto-oh5', italic, 700, '../fonts/roboto-bolditalic-webfont.woff2');

// GENERAL CSS SETTINGS

* {
  box-sizing: border-box;
}

::placeholder {
  color: $darkgreycolor;
}

input, textarea {
  outline: none;
  &:focus:required:invalid {
    border-color: red;
  }
  &:required:valid {
    border-color: green;
  }
}

body {
  font-family: $userfont;
  font-size: $fontsize;
  line-height: $lineheight;
  color: $textcolor;
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
}