@use '_config.scss' as config;

button:disabled {
  background-color: grey !important;
}
img {
  border-style: none;
  vertical-align: middle;
}
ul {
  padding-left: 25px;
}
ol {
  padding-left: 25px;
}
p {
  margin: 0 0 .5rem 0;
  padding: 0;
}
.full-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.clear-both {
  clear: both;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.text-center {
  text-align: center;
}
.hidden {
  display: none;
}
.overflow-hidden {
  overflow: hidden;
}
.hidden-desktop {
  display: none;
}
.position-relative {
  position: relative;
}
.section {
  margin: 0 0 60px 0;
}
.section-title {
  margin: 0 0 35px 0;
  font-size: 30px;
  color: config.$violetcolor;
  line-height: 1.2;
  text-transform: uppercase;
}
.page-title {
  margin: 0 0 30px 0;
  font-size: 75px;
  text-transform: uppercase;
  color: config.$violetcolor;
  line-height: 1;
}
.violet-color {
  color: config.$violetcolor;
}
.second-btn {
  display: flex;
  height: 90px;
  padding: 0;
  border: none;
  border-radius: 10px;
  background: config.$greengradient;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: config.$violetcolor;
  text-transform: uppercase;
}

// Header
.header {
  padding: 19px 0;
  background: config.$violetgradient;
  .flex-container {
    display: flex;
    gap: 150px;
    align-items: center;
  }
  .logo {
    width: 250px;
    height: 104px;
    flex-shrink: 0;
  }
  .logo-link {
    display: block;
    width: 100%;
    height: 100%;
  }
  .logo img {
    width: 100%;
  }
  .top-menu {
    display: flex;
    justify-content: space-between;
    gap: 60px;
  }
  .top-menu .menu-item {
    height: 74px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-radius: 37px;
    overflow: hidden;
    transition: border-color .3s;
  }
  .top-menu .menu-item .menu-item__link {
    display: block;
    padding: 20px 25px;
    font-size: 24px;
    line-height: 1.2;
    color: #fff;
  }
  .top-menu .menu-item:hover,
  .top-menu .menu-item.active {
    border-color: config.$whitecolor;
  }
}



// Main image
.main-image {
  height: 900px;
  margin: 0 0 35px 0;
  border-radius: 0 0 30px 30px;
  overflow: hidden;
}

// Home page
.home-page {
  .title-section {
    margin: 0 0 50px 0;
  }

  .catalog-section {
    margin: 0 0 165px 0;
  }
  .catalog-section .catalog-item {
    position: relative;
    display: flex;
    margin: 0 0 10px 0;
    gap: 24px;
    justify-content: space-between;
  }
  .catalog-section .catalog-item__title,
  .catalog-section .catalog-item__image {
    width: 50%;
    padding: 0 3%;
  }
  .catalog-section .catalog-item__title {
    display: flex;
    height: 90px;
    margin: 95px 0 0 0;
    padding: 0 0 0 30px;
    background-color: config.$whitecolor;
    font-size: 30px;
    color: config.$violetcolor;
    gap: 50px;
    align-items: center;
    transition: background-color .3s, color .3s;
  }
  .catalog-section .catalog-item__title:hover {
    background-color: config.$violetcolor;
    color: config.$whitecolor;
  }
  .catalog-section .catalog-item__title .image {
    width: 47px;
    height: 47px;
    flex-shrink: 0;
  }
  .catalog-section .catalog-item__title svg {
    transition: transform .3s;
  }
  .catalog-section .catalog-item__title svg path {
    fill: config.$violetcolor;
    transition: fill .3s;
  }
  .catalog-section .catalog-item__title:hover svg {
    transform: rotate(-45deg);
  }
  .catalog-section .catalog-item__title:hover svg path {
    fill: config.$whitecolor;
  }
  .catalog-section .catalog-item__link {
    display: block;
    width: 100%;
    height: 100%;
  }
  .catalog-section .catalog-item__image img {
    width: 100%;
  }
}

// Pre calc section
.pre-calc-section {
  padding: 75px 0;
  border-radius: 30px;
  background: config.$violetgradient;
  .pre-calc-btn {
    width: 636px;
    margin: 0 auto 25px auto;
  }
  .select-film-type-text {
    margin: 0 0 30px 0;
    font-size: 24px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
  }
  // .films {
  //   display: grid;
  //   grid-template-columns: repeat(2, 1fr);
  //   grid-template-rows: auto;
  //   gap: 60px;
  // }
  .films .films-item {
    // display: flex;
    // height: 150px;
    // border-radius: 10px;
    background-color: #fff;
    // justify-content: center;
    // align-items: center;
    // font-size: 30px;
    color: config.$violetcolor;
  }

  .calculator-right {
    position: absolute;
    top: -180px;
    right: 0;
    width: 306px;
    height: 326px;
  }
  .calculator-right img {
    width: 100%;
  }
}

// Прямоугольники Пленки Главная и Продукция
.films {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 60px;
  .films-item {
    display: flex;
    height: 150px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
  }
}

// Step section
.step-section {
  padding: 60px 0;
  .step-setion-title {
    margin: 0 0 50px 0;
    font-size: 24px;
    color: config.$violetcolor;
    text-align: center;
  }
  .steps {
    display: grid;
    grid-template-columns: 306px 1fr 306px;
    grid-template-rows: auto;
    gap: 25px;
  }
  .step-item__image {
    height: 200px;
    margin: 0 auto 60px auto;
  }
  .step-item__image img {
    width: 100%;
  }
  .smartphone .step-item__image {
    width: 160px;
  }
  .machine .step-item__image {
    width: 164px;
  }
  .truck .step-item__image {
    width: 190px;
  }
  .step-item__title {
    display: flex;
    height: 90px;
    border-radius: 10px;
    background-color: config.$violetcolor;
    font-size: 30px;
    color: #fff;
    justify-content: center;
    align-items: center;
  }
}

// To top
.to-top {
  padding: 40px 0;
  .to-top-image {
    display: block;
    width: 100px;
    margin: 0 auto;
    cursor: pointer;
  }
}

// Footer
.footer {
  padding: 25px 0 40px 0;
  background-color: config.$secondgreycolor;
  color: #fff;
  .flex-container {
    display: flex;
    gap: 60px;
  }
  .logo {
    margin-bottom: 15px;
    width: 200px;
  }
  .logo img {
    width: 100%;
  }
  .address {
    margin: 0 0 20px 0;
    font-family: 'opensans-regular';
    font-size: 14px;
  }
  .company-info {
    font-family: 'opensans-regular';
  }
  .bottom-menu {
    flex-grow: 1;
  }
  .bottom-menu .menu-item {
    margin: 0 0 16px 0;
  }
  .bottom-menu .menu-item a {
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
  }
  .contacts {
    width: 300px;
    text-align: right;
  }
  .phones {
    margin: 0 0 25px 0;
  }
  .phones .phone {
    margin: 0 0 5px 0;
    
    font-size: 20px;
  }
  .email {
    margin: 0 0 35px 0;
    font-size: 20px;
  }
  .mobile-phone {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: flex-end;
  }
  .mobile-phone__link {
    display: block;
  }
  .mobile-phone .phone {
    font-size: 24px;
  }
}

// Products page
.products-page {

  .title-section {
    margin: 0 0 40px 0;
  }
  .title-section .flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .title-section .page-title {
    margin: 0;
  }
  .title-section .calc-btn {
    width: 483px;
  }

  .catalog-section {
    position: relative;
    padding: 80px;
    border-radius: 30px;
    background: config.$violetgradient;
  }
  .catalog-section .films .films-item {
    background-color: config.$violetcolor;
    color: config.$whitecolor;
  }
  .catalog-section .box-right {
    position: absolute;
    top: -50px;
    right: 50px;
    width: 315px;
    height: 290px;
  }
  .catalog-section .box-right img {
    width: 100%;
  }

  .product-section {
    position: relative;
    padding: 61px 0 0 0;
  }
  .product-section .product-section-title {
    margin: 0 0 45px 0;
    font-size: 30px;
    color: config.$violetcolor;
    text-transform: uppercase;
  }
  .product-section .product {
    display: flex;
    margin: 0 0 25px 0;
    // gap: 24px;
    justify-content: space-between;
  }
  .product-section .product-image {
    width: 32%;
    border-radius: 20px;
    overflow: hidden;
  }
  .product-section .product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .product-section .product-description {
    width: 66%;
    padding: 20px 25px;
    background-color: config.$whitecolor;
    border-radius: 20px;
    font-family: 'opensans-regular';
    font-size: 20px;
    line-height: 1.3;    
  }
  .product-section .flex-container {
    display: flex;
    // gap: 24px;
    justify-content: space-between;
  }
  .product-section .where-apply-title {
    margin: 0 0 25px 0;
    font-size: 30px;
    color: config.$secondgreycolor;
  }
  .product-section .where-apply-item {
    width: 32%;
    margin: 0 0 24px 0;
    padding: 25px;
    background-color: config.$whitecolor;
    border-radius: 20px;
  }
  .product-section .where-apply-item__image {
    height: 190px;
    margin: 0 0 15px 0;
    border-radius: 20px;
    overflow: hidden;
  }
  .product-section .where-apply-item__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .product-section .where-apply-item__title {
    margin: 0 0 10px 0;
    font-family: 'opensans-bold';
    font-size: 20px;
    color: config.$violetcolor;
  }
  .product-section .where-apply-item__text {
    font-family: 'opensans-regular';
    font-size: 20px;
    line-height: 1.3;
  }
  .product-section-background {
    position: absolute;
    bottom: 265px;
    left: 0;
    right: 0;
    width: 100%;
    height: 1165px;
    z-index: -1;
  }
  .product-section-background-lightgrey {
    background-color: config.$lightgreycolor;
  }
  .product-section-background-grey {
    background-color: config.$greycolor;
  }
  .product-section-background-last {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 265px;
    background-color: config.$greycolor;
    z-index: -1;
  }

  .to-top {
    background-color: config.$greycolor;
  }
}

// About page
.about-page {
  .about-section {
    padding: 0 0 100px 0;
    .about-text {
      margin: 0 0 40px 0;
    }
    .about-photos {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 25px;
      grid-template-rows: auto;
    }
    .about-photos-item {
      height: 250px;
    }
  }

  .our-company-today-section {
    padding: 90px 0;
    background: config.$violetgradient;
    .our-company-today-title {
      margin: 0 0 65px 0;
      font-size: 75px;
      color: #fff;
      text-align: center;
      line-height: 1;
      text-transform: uppercase;
    }
    .flex-container {
      display: flex;
      flex-wrap: wrap;
      gap: 50px 25px;
      justify-content: center;
    }
    .our-company-today-item {
      width: 250px;
    }
    .our-company-today-item__image {
      width: max-content;
      margin: 0 auto 25px auto;
    }
    .our-company-today-item__title {
      color: #fff;
      text-align: center;
      text-transform: uppercase;
    }

    .quality-right {
      position: absolute;
      top: -200px;
      right: -200px;
      width: 317px;
    }
    .quality-right img {
      width: 100%;
    }
  }

  .partners-section {
    padding: 40px 0 100px 0;
    background-color: config.$lightgreycolor;
    .partners {
      display: flex;
      flex-wrap: wrap;
      gap: 25px;
      justify-content: center;
    }
    .partners-item {
      padding: 25px;
      border-radius: 20px;
      background-color: #fff;
    }
  }

  .to-top {
    background-color: config.$lightgreycolor;
  }
}

// Contacts page
.contacts-page {
  .flex-container {
    display: flex;
    gap: 24px;
  }
  .contacts,
  .map {
    width: 50%;
  }
  .contacts-title {
    margin: 0 0 10px 0;
    font-family: 'opensans-bold';
    font-size: 20px;
    color: config.$violetcolor;
  }
  .list {
    font-family: 'opensans-regular';
    font-size: 20px;
  }
  .list-item__link {
    color: config.$textcolor;
    text-decoration: underline;
  }
  .form-group {
    margin: 0 0 15px 0;
  }
  .label {
    display: block;
    margin: 0 0 5px 0;
    font-family: 'opensans-regular';
    font-size: 20px;
    color: config.$secondgreycolor;
  }
  .input-field {
    display: block;
    width: 100%;
    border: 1px solid config.$greycolor;
    border-radius: 7px;
    padding: 10px;
    font-family: 'opensans-regular';
    font-size: 16px;
  }
  .textarea {
    display: block;
    width: 100%;
    height: 70px;
    border: 1px solid config.$greycolor;
    border-radius: 7px;
    padding: 10px;
    font-family: 'opensans-regular';
    font-size: 16px;
    resize: none;
  }
  .submit-btn {
    width: 100%;
  }
}





.callback-btn {
  display: flex;
  width: 635px;
  height: 90px;
  padding: 0;
  border: none;
  border-radius: 10px;
  background-color: config.$violetcolor;
  font-family: inherit;
  font-size: 30px;
  color: config.$whitecolor;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

// Modal
.modal-window {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(90, 90, 90, .5);
  top: 0;
  left: 0;
  z-index: 100;
  &.active {
    display: block;
  }
  .modal-wrapper {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    padding: 0 12px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
  }
  .modal-wrapper.active {
    opacity: 1;
    visibility: visible;
  }
  .modal-area {
    position: relative;
    max-width: 980px;
    margin: 0 auto;
    padding: 40px 60px;
    border-radius: 10px;
    background-color: config.$lightgreycolor;
    overflow: hidden;
  }
  .modal-close {
    position: absolute;
    top: 40px;
    right: 60px;
    cursor: pointer;
  }
  .close {
    position: relative;
    width: 26px;
    height: 26px;
    border-radius: 3px;
  }
  .close::before,
  .close::after { 
    content: "";
    position: absolute;
    top: -3px;
    left: 12px;
    width: 3px;
    height: 30px;
    background-color: #868686;
    border-radius: 2px;
  }
  .close::before {
    transform: rotate(45deg);
  }
  .close::after {
    transform: rotate(-45deg);
  }
  .modal-title {
    margin: 0 0 40px 0;
    padding: 0 40px 0 0;
    font-family: 'opensans-regular';
    font-size: 24px;
    color: config.$secondgreycolor;
    line-height: 1.1;
  }
  .form-group {
    margin: 0 0 25px 0;
  }
  .label {
    display: block;
    margin: 0 0 10px 0;
    font-family: 'opensans-regular';
    font-size: 20px;
    color: config.$secondgreycolor;
    line-height: 1.1;
  }
  .input-field {
    display: block;
    width: 100%;
    height: 52px;
    padding: 5px 10px;
    border: 1px solid #C8C8C8;
    border-radius: 7px;
    font-family: 'opensans-regular';
    font-size: 18px;
    color: config.$textcolor;
    resize: none;
    &.required {
      border: 1px solid red;
    }
  }
  .input-field::placeholder {
    color: #C8C8C8;
  }
  .modal-submit-btn {
    display: block;
    width: 483px;
    height: 90px;
    margin: 50px auto 30px auto;
    padding: 0;
    border: none;
    border-radius: 10px;
    background-color: config.$violetcolor;;
  }
  .modal-submit-btn__text {
    font-family: 'russo-one';
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
  }
}

// agreement text галочка соглашения
.agreement-text {
  display: flex;
  margin: 15px 0;
  font-size: 14px;
  color: config.$secondgreycolor;
  line-height: 1.6;
  align-items: center;
  a {
    font-size: 14px;
    color: config.$secondgreycolor;
    text-decoration: underline;
  }
  .custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  .custom-checkbox+label::before {
    content: '';
    display: block;
    float: left;
    width: 25px;
    height: 25px;
    margin: 3px 10px 3px 0;
    border: none;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80% 60%;
    background-color: config.$violetcolor;
  }
  .custom-checkbox:checked+label::before {
    border: none;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23ffffff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }
  .custom-checkbox-label {
    display: block;
  }
}

// We use cookie
.we-use-cookie {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  width: 100%;
  background: config.$violetgradient;
  z-index: 15;
  &.active {
    display: block;
  }
  .we-use-cookie-wrapper {
    max-width: 1320px;
    margin: 0 auto;
    padding: 30px 12px;
    border-radius: 10px;
  }
  .we-use-cookie-text {
    padding: 0 10px 0 0;
    font-family: 'opensans-semibold';
    font-size: 20px;
    color: config.$whitecolor;
    line-height: 1.3;
    text-align: center;
  }
  .we-use-cookie-close {
    display: block;
    width: 170px;
    height: 50px;
    margin: 17px auto 0 auto;
    padding: 0;
    border: none;
    border-radius: 10px;
    background-color: config.$violetcolor;
    font-family: inherit;
    font-size: 20px;
    color: config.$whitecolor;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
  }
  .we-use-cookie-text a {
    color: #241DFF;
    text-decoration: underline;
  }
}

// Container
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: calc(12px);
  padding-left: calc(12px);
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

@media only screen and (max-width : 1400px) {

  .section-title {
    font-size: 52px;
  }


}

@media only screen and (max-width : 1200px) {

  .section {
    margin-bottom: 50px;
  }

  .section-title {
    margin-bottom: 30px;
    font-size: 48px;
  }


}

@media only screen and (max-width : 992px) {

  .section {
    margin-bottom: 40px;
  }

  .section-title {
    font-size: 44px;
  }


}

@media only screen and (max-width : 768px) {

  .hidden-mobile {
    display: none !important;
  }
  .hidden-desktop {
    display: block !important;
  }

  .section-title {
    margin-bottom: 20px;
    font-size: 42px;
  }


}

@media only screen and (max-width : 576px) {

  .section-title {
    font-size: 40px;
  }

}

@media only screen and (max-width : 480px) {

  .section-title {
    font-size: 36px;
  }

}

@media only screen and (max-width : 360px) {

  .section-title {
    font-size: 30px;
  }

}